*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: brown;

}

.contenedor{
    width: 90%;
    max-width: 1000px;
    margin:auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 50px 0;
}

header .menu a{
    margin-right: 30px;
    color: white;
    text-decoration: none;
    font-size: 16px;
}

header .menu a:hover{
    border-bottom: 2px solid white;
}

.main{
    width: 70%;
    padding: 20px;
    background: white;
}

.main article .thumb{
    margin-bottom: 20px;
}

.main article .thumb img{
    width: 100%;
    vertical-align: top;
}

.main article h2{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.main article p{
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 27px;
}

aside{
    width: 30%;
    background: #5991da;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

aside .ad{
    font-size: 30px;
    text-align: center;
    background: #6868df;
    padding: 50px 0;
    color: white;
}

footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 20px;
    background: rgba(250, 250, 250, .2);
    margin-top: 10px;
}

footer .redes a{
    text-decoration: underline;
    color: white;
    font-size: 16;
    margin-left: 20px;
}

footer .redes a:hover{
    text-decoration: none;
}

@media screen and (max-width:800px){
    .main{
        width: 100%;
    }
    aside{
        width: 100%;
        flex-direction: row;
    }
    aside .ad{
        width: 40%;
        margin-bottom: 10px;
        margin-top: 10px;
    }

}

@media screen and (max-width:600px){
    header{
        flex-direction: column;
        padding-bottom: 20px;
    }
    header .menu {
        width: 100%;
        background: rgba(250, 250, 250, .2);
        text-align: center;
        padding: 20px;
    }

    header .menu a{
        margin: 0 20px;
    }
    header .logo{
        margin-bottom: 20px;
    }

    footer{
        flex-direction: column-reverse;
        text-align: center;
    }
    footer .redes{
        margin-bottom: 10px;
    }
}

@media screen and (max-width:500px){
    aside{
        width: 100%;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    aside .ad{
        width: 70%;
        margin:  10px auto;
    }
}